<body>
  
    <nav class="navbar navbar-light bg-dark text-primary">
        <span class="h1">Track-Fit</span>
      </nav>
<div class="container">
    <div class="mx-auto" id="chart"></div>

    <div class="form-wrapper container">
    <form >
        <div class="form-group">
            <label for="Select-Exercise">Select Exercise</label>
            <select class="form-control" id="select-exercise">
                <option>Add Excerise</option>
              <option value="resistance">Resistance</option>
              <option value="cardio">Cardio</option>
            </select>
          </div>
    </form>
    <div class="exercise-wrapper">
        
        <div class="cardio-form">
            <div class="cardio-name">
              <label for="cardio-name">Name:</label>
              <input type="text" name="cardio-name" id="cardio-name" placeholder="Running" />
            </div>
            <div class="distance">
              <label for="distance">Distance (miles):</label>
              <input type="number" name="distance" id="distance" placeholder="5" />
            </div>
            <div class="duration">
              <label for="duration">Duration (minutes):</label>
              <input type="number" name="duration" id="duration" placeholder="10" />
            </div>
        </div>

        <div class="resistance-form">
            <div class="exercise">
              <label for="name">Exercise Name:</label>
              <input type="text" name="name" id="resistance-name" placeholder="Bench Press" />
            </div>
            <div class="weight">
              <label for="weight">Weight (lbs):</label>
              <input type="number" name="weight" id="weight" placeholder="200" />
            </div>
            <div class="sets">
              <label for="sets">Sets:</label>
              <input type="number" name="sets" id="sets" placeholder="4" />
            </div>
            <div class="reps">
              <label for="reps">Reps:</label>
              <input type="number" name="reps" id="reps" placeholder="10" />
            </div>
            <div class="resistance-duration">
              <label for="resistance-duration">Duration (minutes):</label>
              <input type="number" name="resistance-duration" id="resistance-duration" placeholder="10" />
            </div>
        </div>


        <button type="button" class="btn btn-primary" id="add-workout-button">Add workout</button>

    </div>
</div>
</div>
