@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navbar {
	font-family: 'Teko', sans-serif
}

.fitness-form {
	max-width: 350px;
}

#chart {
	max-width: 450px;
}

#myChart {
	max-height: 350px;
	margin: 0;
	padding: 0;
}

.search-button-wrapper {
	max-width: 300px;
}

.no-data-error-wrapper {
	max-width: 300px;
	height: 20px;
}

.no-data-error {
	display: none;
}

#chart, .fitness-form {
	padding: 10px;
	
}

.add-evaluation {
	height: 50px;
}

.all-fields-warning {
	display: none
}

.already-tested-warning {
	display: none;
}

.recent-search-box {
	height: 50px;
	max-width: 400px;
}

.airman-link {
	cursor: pointer;
	font-size: 12px;
}